:root{
    --color-primary:#F89999;
    --color-secondary: #F6C0BA;
    --color-accent: rgb(91, 136, 136);
    --color-text: #f0f8ff;
}


body {
    background-color: var(--color-accent);
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0 3% 0 ;


}

canvas {
    background-color: aliceblue;
    border-radius: 0.3em;
   
}