:root{
    --color-primary:#a3d4ea;
    --color-secondary: #0e597e;
    --color-accent: #a3d4ea;
    --color-text: white;
}


body {
    background-color: var(--color-accent);
    overflow: hidden;
}

.sisu {
    display: flex;
    flex-direction: column;
    padding: 1% 1% 1% 1% ;
    gap: 0.1em;
}

canvas {
    background-color: var(--color-secondary);
    border-radius: 0.3em;
   
}
.tagasi {
    background-color: var(--color-secondary);
    border-radius: 0.3em;
    padding: 0.3em;
    max-width: 20%;    
    color: #f0f8ff;
    text-decoration: white;
    
}