:root{
    --color-primary:#feeba2;
    --color-secondary: #F6C0BA;
    --color-accent: #feeba2;
    --color-text: black;
}
body{
    
    background-image: url('/lehed/indeks/EpicTaust.png');
    
}

#valikud{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem, 1.5rem, 1rem, 1.5rem;
    background-color: var(--color-primary);
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    border-radius: 1rem;
    

}
.nupp{
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    color:var(--color-text);
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 2.5rem;
    transition: 0.6s;
    color: #9c6ca9;
}

.nupp:hover{
    background: #feeba2;
    width: 6rem;
    height: 3rem;
}

#tagasi{
    position: fixed;
    background-color: #F6C0BA;
    border-radius: 1rem;
    padding: 1rem, 1.5rem, 1rem, 1.5rem;
    border: none;
    left: 2rem;
    top: 2rem;
    font-size: 1.5rem;
    color: #9c6ca9;
    font-family: 'Bebas Neue', cursive;
}
