:root{
    --color-primary:#F89999;
    --color-secondary: #F6C0BA;
    --color-accent: rgb(91, 136, 136);
    --color-text: #f0f8ff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-text);
    overflow: hidden;
}



canvas {
    padding: 0%;
    margin: 0%;
    background-color: aliceblue;
   
}