:root{
    --color-primary:#a3d4ea;
    --color-secondary: #0e597e;
    --color-accent: #a3d4ea;
    --color-text: white;
}
    
body {
    
    background-color: var(--color-primary);
}
    
.tekst{
    margin: 12%;
    color: var(--color-text);
    text-shadow: currentColor;
    
}
.tekst h1{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    margin-top: 0rem;
}
.tekst p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    line-break: 4;

}



.lingid {
    
    display: flex;
    flex-flow: row;
    flex-direction: row;

}

.lingid a {
    color: white;
    width: max-content;
    background-color: var(--color-secondary);
    padding: 2%;
    flex-grow: 100;
    transition: 1s ease;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: none;
}

.lingid a:hover {
    flex-grow: 200;
    background-color: var(--color-accent);
}